body {
    background-color: rgb(39, 39, 39);
}

h1 {
    color: white;
    text-align: center;
}

#links {
    position: fixed;
    top: 10px;
    right: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}